.banner{
    background-image: url("../assets/barberias.jpg");
    padding: 25%;
    color: white;
    position: relative;
    z-index: 1;
}
.banner::after{
content: "";
position: absolute;
z-index: -1;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: black;
opacity: 0.5;
}